# Managed by Ansible

Port 22
PermitRootLogin prohibit-password
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM yes

Subsystem sftp /usr/lib/openssh/sftp-server

X11Forwarding no
PrintMotd no
LoginGraceTime 60
MaxAuthTries 3
MaxSessions 2